# Pandas

pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Link : http://pandas.pydata.org/

#

##Installation

$ pip install pandas

#

In [8]:
#Imports
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [9]:
#Open & Read CSV
pd.read_csv("NBA-Census-10.14.2013.csv")

,Name,Age,Team,POS,#,2013 $,Ht (In.),WT,EXP,1st Year,DOB,School,City,"State (Province, Territory, Etc..)",Country,Race,HS Only
0,"Gee, Alonzo",26,Cavaliers,F,33,"$3,250,000",78,219,4,2009,5/29/1987,Alabama,"Riviera Beach, FL",Florida,US,Black,No
1,"Wallace, Gerald",31,Celtics,F,45,"$10,105,855",79,220,12,2001,7/23/1982,Alabama,"Sylacauga, AL",Alabama,US,Black,No
2,"Williams, Mo",30,Trail Blazers,G,25,"$2,652,000",73,195,10,2003,12/19/1982,Alabama,"Jackson, MS",Mississippi,US,Black,No
3,"Gladness, Mickell",27,Magic,C,40,"$762,195",83,220,2,2011,7/26/1986,Alabama A&M,"Birmingham, AL",Alabama,US,Black,No
4,"Jefferson, Richard",33,Jazz,F,44,"$11,046,000",79,230,12,2001,6/21/1980,Arizona,"Los Angeles, CA",California,US,Black,No
5,"Hill, Solomon",22,Pacers,F,9,"$1,246,680",79,220,0,2013,3/18/1991,Arizona,"Los Angeles, CA",California,US,Black,No
6,"Budinger, Chase",25,Timberwolves,F,10,"$5,000,000",79,218,4,2009,5/22/1988,Arizona,"Encinitas, CA",California,US,White,No
7,"Williams, Derrick",22,Timberwolves,F,7,"$5,016,960",80,241,2,2011,5/25/1991,Arizona,"La Mirada, CA",California,US,Black,No
8,"Hill, Jordan",26,Lakers,F/C,27,"$3,563,600",82,235,1,2012,7/27/1987,Arizona,"Newberry, SC",South Carolina,US,Black,No
9,"Frye, Channing",30,Suns,F/C,8,"$6,500,000",83,245,8,2005,5/17/1983,Arizona,"White Plains, NY",New York,US,Black,No
10,"Bayless, Jerryd",25,Grizzlies,G,7,"$3,135,000",75,200,5,2008,8/20/1988,Arizona,"Phoenix, AZ",Arizona,US,Black,No
11,"Terry, Jason",36,Nets,G,31,"$5,625,313",74,180,14,1999,9/15/1977,Arizona,"Seattle, WA",Washington,US,Black,No
12,"Fogg, Kyle",23,Nuggets,G,6,n/a,75,183,0,2013,1/27/1990,Arizona,"Brea, CA",California,US,Black,No
13,"Iguodala, Andre",29,Warriors,G/F,9,"$12,868,632",78,207,9,2004,1/28/1984,Arizona,"Springfield, IL",Illinois,US,Black,No
14,"Boateng, Eric",27,Lakers,C,12,n/a,82,257,17,1996,11/20/1985,Arizona State,"London, ENG",n/a,England,Black,No
15,"Diogu, Ike",29,Knicks,F/C,50,"$792,377",80,255,8,2005,11/9/1983,Arizona State,"Buffalo, NY",New York,US,Black,No
16,"Ayres, Jeff",26,Spurs,F/C,11,"$1,750,000",81,250,4,2009,4/29/1987,Arizona State,"Ontario, CA",California,US,Black,No
17,"Harden, James",24,Rockets,G,13,"$13,701,250",77,220,4,2009,8/26/1989,Arizona State,"Los Angeles, CA",California,US,Black,No
18,"Felix, Carrick",23,Cavaliers,G/F,30,"$510,000",78,210,0,2013,8/17/1990,Arizona State,"Goodyear, AZ",Arizona,US,Black,No
19,"Pargo, Jannero",33,Bobcats,G,5,"$884,293",73,185,11,2002,10/22/1979,Arkansas,"Chicago, IL",Illinois,US,Black,No
20,"Beverley, Patrick",25,Rockets,G,2,"$788,872",73,185,5,2008,7/12/1988,Arkansas,"Chicago, IL",Illinois,US,Black,No
21,"Johnson, Joe",32,Nets,G/F,7,"$21,466,718",79,240,12,2001,6/29/1981,Arkansas,"Little Rock, AR",Arkansas,US,Black,No
22,"Brewer, Ronnie",28,Rockets,G/F,10,"$1,186,459",79,235,7,2006,3/20/1985,Arkansas,"Portland, OR",Oregon,US,Black,No
23,"Fisher, Derek",39,Thunder,G,6,"$884,293",73,210,17,1996,8/9/1974,Arkansas-Little Rock,"Little Rock, AR",Arkansas,US,Black,No
24,"Miller, Quincy",20,Nuggets,F,30,"$788,872",81,210,1,2012,11/18/1992,Baylor,"North Carolina, IL",Illinois,US,Black,No
25,"Acy, Quincy",23,Raptors,F,4,"$788,872",79,225,1,2012,10/6/1990,Baylor,"Tyler, TX",Texas,US,Black,No
26,"Jones, Perry",22,Thunder,F,3,"$1,082,520",83,235,1,2012,9/24/1991,Baylor,"Winnsboro, LA",Louisiana,US,Black,No
27,"Udoh, Ekpe",26,Bucks,F/C,5,"$4,469,548",82,245,3,2010,5/20/1987,Baylor,"Edmond, OK",Oklahoma,US,Black,No
28,"Clark, Ian",22,Jazz,G,21,"$490,180",75,175,0,2013,3/7/1991,Belmont,"Memphis, TN",Tennessee,US,Black,No
29,"Andersen, Chris",35,Heat,F/C,11,"$1,399,507",82,228,12,2001,7/7/1978,Blinn College,"Long Beach, CA",California,US,White,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,"Paul, Chris",28,Clippers,G,3,"$18,668,431",72,175,8,2005,5/6/1985,Wake Forest,"Forsyth County, NC",North Carolina,US,Black,No
499,"Teague, Jeff",25,Hawks,G,0,"$8,000,000",74,181,4,2009,6/10/1988,Wake Forest,"Indianapolis, IN",Indiana,US,Black,No
500,"Smith, Ish",25,Suns,G,30,"$951,463",72,175,3,2010,7/5/1988,Wake Forest,"Charlotte, NC",North Carolina,US,Black,No
501,"Duncan, Tim",37,Spurs,F/C,21,"$10,361,446",83,255,16,1997,4/25/1976,Wake Forest,"Christiansted, VI",Virgin Islands,Virgin Islands,Black,No
502,"Hawes, Spencer",25,76ers,C,0,"$6,500,000",85,245,6,2007,4/28/1988,Washington,"Seattle, WA",Washington,US,White,No
503,"Wroten, Tony",20,76ers,G,8,"$1,160,040",78,205,1,2012,4/13/1993,Washington,"Renton, WA",Washington,US,Black,No
504,"Gaddy, Abdul",21,Bobcats,G,10,n/a,75,185,0,2013,1/26/1992,Washington,"Tacoma, WA",Washington,US,Black,No
505,"Thomas, Isaiah",24,Kings,G,22,"$884,293",69,185,2,2011,2/7/1989,Washington,"Tacoma, WA",Washington,US,Black,No
506,"Robinson, Nate",29,Nuggets,G,10,"$2,016,000",69,180,8,2005,5/31/1984,Washington,"Seattle, WA",Washington,US,Black,No
507,"Ross, Terrence",22,Raptors,G,31,"$2,678,640",78,195,1,2012,2/5/1991,Washington,"Portland, OR",Oregon,US,Black,No
508,"Pondexter, Quincy",25,Grizzlies,G/F,20,"$225,479",78,225,3,2010,3/10/1988,Washington,"Fresno, CA",California,US,Black,No
509,"Holiday, Justin",24,Jazz,G/F,22,"$788,872",78,185,0,2013,4/5/1989,Washington,"Mission Hills, CA",California,US,Black,No
510,"Baynes, Aron",26,Spurs,F/C,16,"$788,872",82,260,0,2013,12/9/1986,Washington State,"Gisborne, NZ",n/a,New Zealand,White,No
511,"Thompson, Klay",23,Warriors,G/F,11,"$2,317,920",79,205,2,2011,2/8/1990,Washington State,"Los Angeles, CA",California,US,Mixed,No
512,"Lillard, Damian",23,Trail Blazers,G,0,"$3,202,920",75,195,1,2012,7/15/1990,Weber State,"Oakland, CA",California,US,Black,No
513,"Alexander, Joe",26,Warriors,F,25,"$854,389",80,230,5,2008,12/26/1986,West Virginia,"Kaohsiung, TA",n/a,Taiwan,White,No
514,"Fischer, D'or",32,Wizards,C,21,n/a,83,255,0,2013,10/12/1981,West Virginia,"Philadelphia, PA",Pennsylvania,US,Black,No
515,"Ebanks, Devin",23,Mavericks,F,37,"$884,293",81,215,3,2010,10/28/1989,West Virginia,"New York City, NY",New York,US,Black,No
516,"Johnson, Amir",26,Raptors,F/C,15,"$6,500,000",81,210,8,2005,5/1/1987,Westchester HS (CA),"Los Angeles, CA",California,US,Black,Yes
517,"Martin, Kevin",30,Timberwolves,G,23,"$6,500,000",79,185,9,2004,2/1/1983,Western Carolina,"Zanesville, OH",Ohio,US,Mixed,No
518,"Evans, Jeremy",25,Jazz,F,40,"$1,660,257",81,194,3,2010,10/24/1987,Western Kentucky,"Crossett, AR",Arkansas,US,Black,No
519,"Lee, Courtney",28,Celtics,G/F,11,"$5,225,000",77,200,5,2008,10/3/1985,Western Kentucky,"Indianapolis, IN",Indiana,US,Black,No
520,"Mekel, Gal",25,Mavericks,G,33,"$490,180",75,191,5,2008,3/4/1988,Wichita State,Petah Tikva,n/a,Israel,White,No
521,"Murry, Toure'",23,Knicks,G/F,23,"$490,180",77,195,0,2013,11/8/1989,Wichita State,"Houston, TX",Texas,US,Black,No
522,"Stiemsma, Greg",28,Pelicans,C,34,"$2,676,000",83,260,2,2011,9/26/1985,Wisconsin,"Randolph, WI",Wisconsin,US,White,No
523,"Leuer, Jon",24,Grizzlies,F,30,"$900,000",82,228,2,2011,5/14/1989,Wisconsin,"Long Lake, MN",Minnesota,US,White,No
524,"Landry, Marcus",27,Lakers,F,14,"$788,872",79,225,17,1996,11/1/1985,Wisconsin,"Milwaukee, WI",Wisconsin,US,Black,No
525,"Harris, Devin",30,Mavericks,G,20,"$854,389",75,192,9,2004,2/27/1983,Wisconsin,"Milwaukee, WI",Wisconsin,US,Black,No
526,"West, David",33,Pacers,F,21,"$12,000,000",81,250,10,2003,8/29/1980,Xavier,"Teaneck, NJ",New Jersey,US,Black,No
527,"Crawford, Jordan",24,Celtics,G,27,"$2,162,419",76,195,3,2010,10/23/1988,Xavier,"Detroit, MI",Michigan,US,Black,No

In [14]:
#Open & Read CSV
nba_csv = pd.read_csv("NBA-Census-10.14.2013.csv")

#First few lines of the CSV File - head
nba_csv.head()

,Name,Age,Team,POS,#,2013 $,Ht (In.),WT,EXP,1st Year,DOB,School,City,"State (Province, Territory, Etc..)",Country,Race,HS Only
0,"Gee, Alonzo",26,Cavaliers,F,33,"$3,250,000",78,219,4,2009,5/29/1987,Alabama,"Riviera Beach, FL",Florida,US,Black,No
1,"Wallace, Gerald",31,Celtics,F,45,"$10,105,855",79,220,12,2001,7/23/1982,Alabama,"Sylacauga, AL",Alabama,US,Black,No
2,"Williams, Mo",30,Trail Blazers,G,25,"$2,652,000",73,195,10,2003,12/19/1982,Alabama,"Jackson, MS",Mississippi,US,Black,No
3,"Gladness, Mickell",27,Magic,C,40,"$762,195",83,220,2,2011,7/26/1986,Alabama A&M,"Birmingham, AL",Alabama,US,Black,No
4,"Jefferson, Richard",33,Jazz,F,44,"$11,046,000",79,230,12,2001,6/21/1980,Arizona,"Los Angeles, CA",California,US,Black,No

In [15]:
#OR

#Print only the first row
nba_csv[:1]

,Name,Age,Team,POS,#,2013 $,Ht (In.),WT,EXP,1st Year,DOB,School,City,"State (Province, Territory, Etc..)",Country,Race,HS Only
0,"Gee, Alonzo",26,Cavaliers,F,33,"$3,250,000",78,219,4,2009,5/29/1987,Alabama,"Riviera Beach, FL",Florida,US,Black,No

In [16]:
#Print the first 10 rows
nba_csv[:10]

,Name,Age,Team,POS,#,2013 $,Ht (In.),WT,EXP,1st Year,DOB,School,City,"State (Province, Territory, Etc..)",Country,Race,HS Only
0,"Gee, Alonzo",26,Cavaliers,F,33,"$3,250,000",78,219,4,2009,5/29/1987,Alabama,"Riviera Beach, FL",Florida,US,Black,No
1,"Wallace, Gerald",31,Celtics,F,45,"$10,105,855",79,220,12,2001,7/23/1982,Alabama,"Sylacauga, AL",Alabama,US,Black,No
2,"Williams, Mo",30,Trail Blazers,G,25,"$2,652,000",73,195,10,2003,12/19/1982,Alabama,"Jackson, MS",Mississippi,US,Black,No
3,"Gladness, Mickell",27,Magic,C,40,"$762,195",83,220,2,2011,7/26/1986,Alabama A&M,"Birmingham, AL",Alabama,US,Black,No
4,"Jefferson, Richard",33,Jazz,F,44,"$11,046,000",79,230,12,2001,6/21/1980,Arizona,"Los Angeles, CA",California,US,Black,No
5,"Hill, Solomon",22,Pacers,F,9,"$1,246,680",79,220,0,2013,3/18/1991,Arizona,"Los Angeles, CA",California,US,Black,No
6,"Budinger, Chase",25,Timberwolves,F,10,"$5,000,000",79,218,4,2009,5/22/1988,Arizona,"Encinitas, CA",California,US,White,No
7,"Williams, Derrick",22,Timberwolves,F,7,"$5,016,960",80,241,2,2011,5/25/1991,Arizona,"La Mirada, CA",California,US,Black,No
8,"Hill, Jordan",26,Lakers,F/C,27,"$3,563,600",82,235,1,2012,7/27/1987,Arizona,"Newberry, SC",South Carolina,US,Black,No
9,"Frye, Channing",30,Suns,F/C,8,"$6,500,000",83,245,8,2005,5/17/1983,Arizona,"White Plains, NY",New York,US,Black,No

In [20]:
#Print each columns of the CSV - first column
nba_csv.Name

0             Gee, Alonzo
1         Wallace, Gerald
2            Williams, Mo
3       Gladness, Mickell
4      Jefferson, Richard
5           Hill, Solomon
6         Budinger, Chase
7       Williams, Derrick
8            Hill, Jordan
9          Frye, Channing
10        Bayless, Jerryd
11           Terry, Jason
12             Fogg, Kyle
13        Iguodala, Andre
14          Boateng, Eric
15             Diogu, Ike
16            Ayres, Jeff
17          Harden, James
18         Felix, Carrick
19         Pargo, Jannero
20      Beverley, Patrick
21           Johnson, Joe
22         Brewer, Ronnie
23          Fisher, Derek
24         Miller, Quincy
25            Acy, Quincy
26           Jones, Perry
27             Udoh, Ekpe
28             Clark, Ian
29        Andersen, Chris
              ...
498           Paul, Chris
499          Teague, Jeff
500            Smith, Ish
501           Duncan, Tim
502        Hawes, Spencer
503          Wroten, Tony
504          Gaddy, Abdul
505        Thomas, Isaiah
506        Robinson, Nate
507        Ross, Terrence
508     Pondexter, Quincy
509       Holiday, Justin
510          Baynes, Aron
511        Thompson, Klay
512       Lillard, Damian
513        Alexander, Joe
514         Fischer, D'or
515         Ebanks, Devin
516         Johnson, Amir
517         Martin, Kevin
518         Evans, Jeremy
519         Lee, Courtney
520            Mekel, Gal
521         Murry, Toure'
522        Stiemsma, Greg
523            Leuer, Jon
524        Landry, Marcus
525         Harris, Devin
526           West, David
527      Crawford, Jordan
Name: Name, dtype: object

In [23]:
#Describe - Summary of the csv file
nba_csv.describe()

              Age    Ht (In.)          WT         EXP     1st Year
count  528.000000  528.000000  528.000000  528.000000   528.000000
mean    26.242424   79.119318  221.206439    4.772727  2008.227273
std      4.178868    3.431488   27.943169    4.325628     4.325628
min     18.000000   69.000000   20.000000    0.000000  1995.000000
25%     23.000000   77.000000  200.000000    1.000000  2005.000000
50%     25.000000   80.000000  220.000000    4.000000  2009.000000
75%     29.000000   82.000000  240.000000    8.000000  2012.000000
max     39.000000   87.000000  290.000000   18.000000  2013.000000

In [25]:
#Frequency or Number of Occurrences of each city
nba_csv.City.value_counts()

Los Angeles, CA         19
New York City, NY       18
Chicago, IL             12
Philadelphia, PA        11
Washington, DC           8
Milwaukee, WI            8
Memphis, TN              7
Indianapolis, IN         7
Seattle, WA              7
Miami, FL                6
Dallas, TX               5
Baltimore, MD            5
Houston, TX              5
Baton Rouge, LA          5
Detroit, MI              5
Charlotte, NC            4
San Diego, CA            4
Atlanta, GA              4
Long Beach, CA           4
San Antonio, TX          4
St. Louis, MO            4
Orange, NJ               3
Portland, OR             3
Tacoma, WA               3
Oakland, CA              3
Raleigh, NC              3
Saginaw, MI              3
Buffalo, NY              3
Minneapolis, MN          3
New Orleans, LA          3
                        ..
Mitchell, SD             1
Canberra                 1
Hartford, CT             1
Stone Mountain, GA       1
College Park, GA         1
Saint Charles, MO        1
Belgorod, RU             1
Tyler, TX                1
Waukegan, IL             1
Marion, IN               1
Stakville, MS            1
Myrtle Beach, SC         1
El Masnou, BA            1
Prince George, VA        1
Johannesburg, SA         1
Christiansted, VI        1
Santa Clara,  CA         1
Riga                     1
Hanford, CA              1
Riviera Beach, FL        1
Gisborne, NZ             1
Valparaiso, IN           1
Landover, MD             1
Port-au-Prince, HT       1
Provo, UT                1
Newport Beach, CA        1
Biloxi, MS               1
Goodyear, AZ             1
Waterbury, CT            1
Canal Winchester, OH     1
dtype: int64

In [30]:
#Those values in the CSV File where the value of the EXP Column is 4
#Analogy with SQL - SELECT * FROM nba_csv Table where EXP value == 4
nba_csv[nba_csv.EXP == 4]

,Name,Age,Team,POS,#,2013 $,Ht (In.),WT,EXP,1st Year,DOB,School,City,"State (Province, Territory, Etc..)",Country,Race,HS Only
0,"Gee, Alonzo",26,Cavaliers,F,33,"$3,250,000",78,219,4,2009,5/29/1987,Alabama,"Riviera Beach, FL",Florida,US,Black,No
6,"Budinger, Chase",25,Timberwolves,F,10,"$5,000,000",79,218,4,2009,5/22/1988,Arizona,"Encinitas, CA",California,US,White,No
16,"Ayres, Jeff",26,Spurs,F/C,11,"$1,750,000",81,250,4,2009,4/29/1987,Arizona State,"Ontario, CA",California,US,Black,No
17,"Harden, James",24,Rockets,G,13,"$13,701,250",77,220,4,2009,8/26/1989,Arizona State,"Los Angeles, CA",California,US,Black,No
40,"Taylor, Jermaine",26,Cavaliers,G,8,"$780,871",77,20,4,2009,12/8/1986,Central Florida,"Tavares, FL",Florida,US,Black,No
41,"Kaman, Chris",31,Lakers,C,9,"$3,183,000",84,265,4,2009,4/28/1982,Central Michigan,"Grand Rapids, MI",Michigan,US,White,No
54,"Thabeet, Hasheem",26,Thunder,C,34,"$1,200,000",87,263,4,2009,2/16/1987,Connecticut,Dar es Salaam,n/a,Tanzania,Black,No
64,"Price, A.J.",27,Timberwolves,G,22,n/a,74,185,4,2009,10/7/1986,Connecticut,"Orange, NJ",New Jersey,Us,Black,No
69,"Curry, Stephen",25,Warriors,G,30,"$9,887,640",75,185,4,2009,3/14/1988,Davidson,"Akron, OH",Ohio,US,Mixed,No
81,"Kelly, Ryan",22,Lakers,F,4,"$490,180",83,230,4,2009,4/9/1991,Duke,"Carmel, NY",New York,US,White,No
91,"Henderson, Gerald",25,Bobcats,G/F,9,"$6,000,000",77,215,4,2009,12/9/1987,Duke,"Caldwell, NJ",New Jersey,US,Black,No
107,"Calathes, Nick",24,Grizzlies,G,12,"$490,180",78,214,4,2009,2/7/1989,Florida,"Casselberry, FL",Florida,US,White,No
113,"Douglas, Toney",27,Warriors,G,0,"$1,600,000",74,185,4,2009,3/16/1986,Florida State,"Tampa, FL",Florida,US,Black,No
138,"Harris, Elias",24,Lakers,F,2,"$490,180",80,239,4,2009,7/6/1989,Gonzaga,"Speyer, RP",Rhineland-Palatinate,Germany,Black,No
141,"Daye, Austin",25,Raptors,F,5,"$947,907",83,200,4,2009,6/5/1988,Gonzaga,"Irvine, CA",California,US,Mixed,No
200,"Clark, Earl",25,Cavaliers,F,6,"$4,250,000",82,225,4,2009,1/17/1988,Louisville,"Plainfield, NJ",New Jersey,US,Black,No
209,"Thornton, Marcus",26,Kings,G,23,"$8,050,000",76,205,4,2009,6/5/1987,LSU,"Baton Rouge, LA",Louisiana,US,Black,No
220,"Matthews, Wesley",27,Trail Blazers,G/F,2,"$6,875,480",77,220,4,2009,10/14/1986,Marquette,"San Antonio, TX",Texas,US,Black,No
229,"Evans, Tyreke",24,Pelicans,G,1,"$11,796,247",78,220,4,2009,9/19/1989,Memphis,"Chester, PA",Pennsylvania,US,Black,No
255,"Carroll, DeMarre",27,Hawks,F,5,"$2,557,545",80,212,4,2009,7/27/1986,Missouri,"Birmingham, AL",Alabama,US,Black,No
271,"Ibaka, Serge",24,Thunder,F/C,9,"$12,350,000",82,235,4,2009,9/18/1989,n/a,Brazzaville,n/a,Congo,Black,No
308,"Jerebko, Jonas",26,Pistons,F,33,"$4,500,000",82,231,4,2009,3/2/1987,n/a,"Kinna, Mark",Mark,Sweden,White,No
333,"Hansbrough, Tyler",27,Raptors,F/C,50,"$3,183,000",81,250,4,2009,11/3/1985,North Carolina,"Columbia, MO",Missouri,US,White,No
335,"Ellington, Wayne",25,Mavericks,G,21,"$2,652,000",76,200,4,2009,11/29/1987,North Carolina,"Wynnewood, PA",Pennsylvania,US,Black,No
336,"Lawson, Ty",25,Nuggets,G,3,"$10,786,517",71,195,4,2009,11/3/1987,North Carolina,"Clinton, MD",Maryland,US,Black,No
340,"Green, Danny",26,Spurs,G/F,4,"$3,762,500",78,210,4,2009,6/22/1987,North Carolina,"North Babylon, NY",New York,US,Black,No
351,"Jennings, Brandon",24,Pistons,G,7,"$7,655,503",73,169,4,2009,9/23/1989,Oak Hill Academy (VA),"Lakewood, CA",California,US,Black,Yes
355,"Mullens, Byron",24,Clippers,F/C,0,"$947,907",84,275,4,2009,2/14/1989,Ohio State,"Canal Winchester, OH",Ohio,US,White,No
360,"Griffin, Blake",24,Clippers,F,32,"$16,441,500",82,251,4,2009,3/16/1989,Oklahoma,"Oklahoma City, OK",Oklahoma,US,Mixed,No
373,"Blair, DeJuan",24,Mavericks,F/C,45,"$884,293",79,270,4,2009,4/22/1989,Pittsburgh,"Pittsburgh, PA",Pennsylvania,US,Black,No
387,"Mills, Patrick",25,Spurs,G,8,"$1,133,950",72,185,4,2009,8/11/1988,St. Mary's (CA),Canberra,New South Wales,Australia,Black,No
406,"Gibson, Taj",28,Bulls,F,22,"$7,550,000",81,225,4,2009,6/24/1985,Southern California,"New York City, NY",New York,US,Black,No
409,"DeRozan, DeMar�",24,Raptors,G/F,10,"$9,500,000",79,216,4,2009,8/7/1989,Southern California,"Compton, CA",California,US,Black,No
440,"Hudson, Lester",29,Jazz,G,6,"$48,232",75,190,4,2009,8/7/1984,Tennessee-Martin,"Memphis, TN",Tennessee,US,Black,No
464,"Collison, Darren",26,Clippers,G,2,"$1,900,000",72,175,4,2009,8/23/1987,UCLA,"Rancho Cucamonga, CA",California,US,Black,No
467,"Holiday, Jrue",23,Pelicans,G,11,"$9,713,484",76,205,4,2009,6/12/1990,UCLA,"Chatsworth, CA",California,US,Black,No
486,"Cunningham, Dante",26,Timberwolves,F,33,"$2,180,000",80,230,4,2009,4/22/1987,Villanova,"Clinton, MD",Maryland,US,Black,No
494,"Maynor, Eric",26,Wizards,G,6,"$13,000,000",75,175,4,2009,6/11/1987,Virginia Commonwealth,"Raeford, NC",North Carolina,US,Black,No
496,"Johnson, James",26,Hawks,F,13,n/a,81,248,4,2009,2/20/1987,Wake Forest,"Cheyene, WY",Wyoming,US,Black,No
499,"Teague, Jeff",25,Hawks,G,0,"$8,000,000",74,181,4,2009,6/10/1988,Wake Forest,"Indianapolis, IN",Indiana,US,Black,No

In [41]:
#Those values in the CSV File where the value of the EXP Column is 4 & the POS column is 'F'
#Analogy with SQL - SELECT * FROM nba_csv Table where EXP value == 4 & POS == 'F'
nba_csv[(nba_csv["POS"] == "F") & (nba_csv.EXP == 4)]

,Name,Age,Team,POS,#,2013 $,Ht (In.),WT,EXP,1st Year,DOB,School,City,"State (Province, Territory, Etc..)",Country,Race,HS Only
0,"Gee, Alonzo",26,Cavaliers,F,33,"$3,250,000",78,219,4,2009,5/29/1987,Alabama,"Riviera Beach, FL",Florida,US,Black,No
6,"Budinger, Chase",25,Timberwolves,F,10,"$5,000,000",79,218,4,2009,5/22/1988,Arizona,"Encinitas, CA",California,US,White,No
81,"Kelly, Ryan",22,Lakers,F,4,"$490,180",83,230,4,2009,4/9/1991,Duke,"Carmel, NY",New York,US,White,No
138,"Harris, Elias",24,Lakers,F,2,"$490,180",80,239,4,2009,7/6/1989,Gonzaga,"Speyer, RP",Rhineland-Palatinate,Germany,Black,No
141,"Daye, Austin",25,Raptors,F,5,"$947,907",83,200,4,2009,6/5/1988,Gonzaga,"Irvine, CA",California,US,Mixed,No
200,"Clark, Earl",25,Cavaliers,F,6,"$4,250,000",82,225,4,2009,1/17/1988,Louisville,"Plainfield, NJ",New Jersey,US,Black,No
255,"Carroll, DeMarre",27,Hawks,F,5,"$2,557,545",80,212,4,2009,7/27/1986,Missouri,"Birmingham, AL",Alabama,US,Black,No
308,"Jerebko, Jonas",26,Pistons,F,33,"$4,500,000",82,231,4,2009,3/2/1987,n/a,"Kinna, Mark",Mark,Sweden,White,No
360,"Griffin, Blake",24,Clippers,F,32,"$16,441,500",82,251,4,2009,3/16/1989,Oklahoma,"Oklahoma City, OK",Oklahoma,US,Mixed,No
406,"Gibson, Taj",28,Bulls,F,22,"$7,550,000",81,225,4,2009,6/24/1985,Southern California,"New York City, NY",New York,US,Black,No
486,"Cunningham, Dante",26,Timberwolves,F,33,"$2,180,000",80,230,4,2009,4/22/1987,Villanova,"Clinton, MD",Maryland,US,Black,No
496,"Johnson, James",26,Hawks,F,13,n/a,81,248,4,2009,2/20/1987,Wake Forest,"Cheyene, WY",Wyoming,US,Black,No